.popup-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999999;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    display: grid;
}

.popup-content {
    margin: auto;
    min-height:400px;
    background-image: url("/bikes.com.au/skin/frontend/tv_bikeworld_package/tv_bikeworld2/images/popup-scott.jpg");
    background-size: cover;
    min-width: 315px;
    padding: 0;
    color: white;
    position: relative;
    cursor: pointer;
}

.popup-content > * {
    z-index: 100;
    position: relative;
}

.popup-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

@media screen and (max-width: 426px){
    .popup-content {
        background-position: 60%;
        padding-bottom: 30px;
    }
}

@media (min-width: 1600px) {
    .col-xl-5 {
        width: 40%;
    }
}

.popup-content .col-sm-9 {
    padding-left: 21px;
    margin-left: 10px;
}

.popup-content .maps {
    margin-bottom: 8px;
}

.

.popup-content img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.close-popup {
    float: right;
    margin-top: -20px;
    margin-right: -15px;
    color: #E4DB1F;
    cursor: pointer;
}

