.popup-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999999;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
}

.popup-content {
    margin: auto;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.header-1 {
  text-align: center;
  width:100%;
  background-color: #F9F609;
  color: #6A449D;
  padding:10px !important;
}

.header-1 h1 {
  font-size: 30px;
}

.header-2 {
  text-align: center;
  width:100%;
  background-color: #6A449D;
  color: white;
  padding:10px !important;
}

.header-2 h2 {
  font-size: 20px;
}

.popup-content > * {
    z-index: 100;
    position: relative;
}

.close-popup {
    margin-top: -20px;
    margin-right: -15px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 9999999;
}

.popup-content .col-sm-12 {
  padding:0;
  margin:0;
}

.popup-content .body {
  width: 100%;
}

.popup-content .body .col-sm-4 img {
    margin: 0 auto;
    display: block;

}

.popup-content .body .col-sm-4 {
  background-color: #F9F609;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup-content .body-img img {
  display: block;
}

.popup-content  .popup-footer {
  text-align: center;
  width:100%;
  color: #F9F609;
  background-color: #6A449D;
}

.popup-content  .popup-footer h1 {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
