.popup-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999999;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    display: grid;
}

.popup-content {
    margin: auto;
    min-height:350px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.pexels.com/photos/717988/pexels-photo-717988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    min-width: 315px;
    padding: 0;
    color: white;
}

.popup-content .maps {
    margin-bottom: 8px;
}

.popup-content img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

.close-popup {
    float: right;
    margin-top: -20px;
    margin-right: -15px;
    color: #E4DB1F;
    cursor: pointer;
}