<config>
    <sections>
        <sales>
            <groups>
                <uncancel_order translate="label" module="sales">
                    <label>Uncancel Order</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>250</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status_comment translate="label">
                            <label>Add Order Status Comment</label>
                            <comment>
                                <![CDATA[Input your preference about whether to add order comment in case the order is uncancelled]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status_comment>
                        <is_comment_visible translate="label">
                            <label>Is Comment Visible on Frontend</label>
                            <comment>
                                <![CDATA[Input your preference about whether the uncancelled comment will be visible at the front end.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <status_comment>1</status_comment>
                            </depends>
                        </is_comment_visible>
                        <notify_customer translate="label">
                            <label>Notify Customer</label>
                            <comment>
                                <![CDATA[Input your preference about whether to notify customer in case the order is uncancelled]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <status_comment>1</status_comment>
                            </depends>
                        </notify_customer>
                        <previous_status_database translate="label">
                            <label>Restore Previous Status</label>
                            <comment>
                                <![CDATA[Should the previous status be restored in case the order is uncancelled. If the value doesn't exists in the database it will default to 'Pending' status]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </previous_status_database>
                        <uncancelled_status translate="label">
                            <label>Status</label>
                            <comment>
                                <![CDATA[The status in which the order will be moved when it is uncancelled]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>folio3_uncancelorder/system_config_status</source_model>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <previous_status_database>0</previous_status_database>
                            </depends>
                        </uncancelled_status>
                    </fields>
                </uncancel_order>
            </groups>
        </sales>
    </sections>
</config>