<?xml version="1.0"?>
<config>
    <modules>
        <Megantic_Assigncategory>
            <version>0.1.2</version>
        </Megantic_Assigncategory>
    </modules>
    <admin>
        <routers>
			<assigncategory>
				<use>admin</use>
				<args>
					<module>Megantic_Assigncategory</module>
					<frontName>assigncategory</frontName>
				</args>
			</assigncategory>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog>
				<children>
					<assigncategory module="assigncategory">
						<title>Bulk Product Assign</title>
						<sort_order>18</sort_order>               
						<children>
							<items module="assigncategory">
								<title>Manage Product Categories</title>
								<sort_order>0</sort_order>
								<action>assigncategory/adminhtml_assigncategory/edit</action>
							</items>
						</children>
					</assigncategory>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Megantic_Assigncategory>
							<title>Assigncategory Module</title>
							<sort_order>10</sort_order>
						</Megantic_Assigncategory>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<assigncategory>
					<file>assigncategory.xml</file>
				</assigncategory>
			</updates>
		</layout>
    </adminhtml>
    <global>
    		<resources>
			  <assigncategory_setup>
				<setup>
				  <module>Megantic_Assigncategory</module>
				</setup>
				<connection>
				  <use>core_setup</use>
				</connection>
			  </assigncategory_setup>
			  <assigncategory_write>
				<connection>
				  <use>core_write</use>
				</connection>
			  </assigncategory_write>
			  <assigncategory_read>
				<connection>
				  <use>core_read</use>
				</connection>
			  </assigncategory_read>
			</resources>
    		<events>
				<megantic_domain_authentication>
					<observers>
						<megantic_assigncategory_observer>
							<class>Megantic_Assigncategory_Model_Authenticate</class>
							<method>saveDomain</method>
						</megantic_assigncategory_observer>
					</observers>
				</megantic_domain_authentication>
			</events>
        <blocks>
            <assigncategory>
                <class>Megantic_Assigncategory_Block</class>
            </assigncategory>
        </blocks>
        <helpers>
            <assigncategory>
                <class>Megantic_Assigncategory_Helper</class>
            </assigncategory>
        </helpers>
    </global>
</config>
