<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_Connect>
            <version>2.1.53</version>
        </Fooman_Connect>
    </modules>
    <global>
        <models>
            <foomanconnect>
                <class>Fooman_Connect_Model</class>
                <resourceModel>foomanconnect_resource</resourceModel>
            </foomanconnect>
            <foomanconnect_resource>
                <deprecatedNode>foomanconnect_mysql4</deprecatedNode>
                <class>Fooman_Connect_Model_Resource</class>
                <entities>
                    <order>
                        <table>foomanconnect_order</table>
                    </order>
                    <invoice>
                        <table>foomanconnect_invoice</table>
                    </invoice>
                    <creditmemo>
                        <table>foomanconnect_creditmemo</table>
                    </creditmemo>
                    <item>
                        <table>foomanconnect_item</table>
                    </item>
                    <customer>
                        <table>foomanconnect_customer</table>
                    </customer>
                    <tracking_rule>
                        <table>foomanconnect_tracking_rule</table>
                    </tracking_rule>
                </entities>
            </foomanconnect_resource>
        </models>
        <resources>
            <foomanconnect_setup>
                <setup>
                    <module>Fooman_Connect</module>
                    <class>Fooman_Connect_Model_Resource_Setup</class>
                </setup>
            </foomanconnect_setup>
        </resources>
        <blocks>
            <foomanconnect>
                <class>Fooman_Connect_Block</class>
            </foomanconnect>
        </blocks>
        <helpers>
            <foomanconnect>
                <class>Fooman_Connect_Helper</class>
            </foomanconnect>
        </helpers>
        <pdf>
            <totals>
                <multifees>
                    <title>Additional Fees</title>
                    <source_field>multifees_amount</source_field>
                </multifees>
            </totals>
        </pdf>
        <events>
            <order_cancel_after>
                <observers>
                    <foomanconnect_order_cancel_after>
                        <type>singleton</type>
                        <class>foomanconnect/observer</class>
                        <method>orderCancelAfter</method>
                    </foomanconnect_order_cancel_after>
                </observers>
            </order_cancel_after>
            <sales_order_invoice_cancel>
                <observers>
                    <foomanconnect_invoice_cancel>
                        <type>singleton</type>
                        <class>foomanconnect/observer</class>
                        <method>invoiceCancel</method>
                    </foomanconnect_invoice_cancel>
                </observers>
            </sales_order_invoice_cancel>
        </events>
    </global>
    <default>
        <foomanconnect>
            <settings>
                <xeroenabled>0</xeroenabled>
                <xeronumbering>0</xeronumbering>
                <xerotransfercurrency>base</xerotransfercurrency>
                <shippingisexpenseaccount>0</shippingisexpenseaccount>
            </settings>
            <order>
                <exportmode>order</exportmode>
                <xerostatus>DRAFT</xerostatus>
                <usecompany>1</usecompany>
                <exportzero>1</exportzero>
            </order>
            <tax>
                <xerooverridetax>mixed</xerooverridetax>
                <xeroshipping>NONE</xeroshipping>
                <xerodefaultzerotaxrate>NONE</xerodefaultzerotaxrate>
            </tax>
            <creditmemo>
                <xeroprefix>CN-</xeroprefix>
                <xerostatus>DRAFT</xerostatus>
            </creditmemo>
            <cron>
                <xeroautomatic>0</xeroautomatic>
                <xerocronexpr>*/10 * * * *</xerocronexpr>
            </cron>
        </foomanconnect>
    </default>
    <crontab>
        <jobs>
            <foomanconnect_automatic>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>foomanconnect/automatic::cron</model></run>
            </foomanconnect_automatic>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foomanconnect after="Mage_Adminhtml">Fooman_Connect_Adminhtml</foomanconnect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <foomanconnect>
                    <file>foomanconnect.xml</file>
                </foomanconnect>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <foomanconnect_adminhtml_block_html_before>
                        <type>singleton</type>
                        <class>foomanconnect/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </foomanconnect_adminhtml_block_html_before>
                </observers>
            </adminhtml_block_html_before>
            <customer_group_save_commit_after>
                <observers>
                    <foomanconnect_customer_group_save_commit_after>
                        <type>singleton</type>
                        <class>foomanconnect/observer</class>
                        <method>customerGroupSaveCommitAfter</method>
                    </foomanconnect_customer_group_save_commit_after>
                </observers>
            </customer_group_save_commit_after>
            <controller_action_predispatch_adminhtml_sales_order_invoice_view>
                <observers>
                    <foomanconnect_admin_sales_order_invoice_view>
                        <type>singleton</type>
                        <class>foomanconnect/observer</class>
                        <method>adminSalesViewNoSecretKey</method>
                    </foomanconnect_admin_sales_order_invoice_view>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_invoice_view>
            <controller_action_predispatch_adminhtml_sales_order_creditmemo_view>
                <observers>
                    <foomanconnect_admin_sales_order_creditmemo_view>
                        <type>singleton</type>
                        <class>foomanconnect/observer</class>
                        <method>adminSalesViewNoSecretKey</method>
                    </foomanconnect_admin_sales_order_creditmemo_view>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_creditmemo_view>

            <controller_action_predispatch_adminhtml_sales_invoice_view>
                <observers>
                    <foomanconnect_admin_sales_invoice_view>
                        <type>singleton</type>
                        <class>foomanconnect/observer</class>
                        <method>adminSalesViewNoSecretKey</method>
                    </foomanconnect_admin_sales_invoice_view>
                </observers>
            </controller_action_predispatch_adminhtml_sales_invoice_view>
            <controller_action_predispatch_adminhtml_sales_creditmemo_view>
                <observers>
                    <foomanconnect_admin_sales_creditmemo_view>
                        <type>singleton</type>
                        <class>foomanconnect/observer</class>
                        <method>adminSalesViewNoSecretKey</method>
                    </foomanconnect_admin_sales_creditmemo_view>
                </observers>
            </controller_action_predispatch_adminhtml_sales_creditmemo_view>
        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Fooman_Connect/>
            </modules>
        </suite>
    </phpunit>
</config>
