<?xml version="1.0"?>
<config>
    <modules>
        <LarLance_Sales>
            <version>0.1.0</version>
        </LarLance_Sales>
    </modules>
    <global>
        <helpers>
            <larlancesales>
                <class>LarLance_Sales_Helper</class>
            </larlancesales>
        </helpers>
        <models>
            <larlancesales>
                <class>LarLance_Sales_Model</class>
                <resourceModel>sales_mysql4</resourceModel>
            </larlancesales>
            <sales>
                <rewrite>
                    <quote_address>LarLance_Sales_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
    </global>
</config>