<?xml version="1.0"?>
<config>
    <sections>
        <shipping translate="label" module="shipping">
            <groups>
                <option translate="label">
                    <fields>
                        <allow_with_freeshipping translate="label">
                            <label>Additional Shipping Methods For Free Shipping</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allow_with_freeshipping>
                        <show_original translate="label">
                            <label>Show Original Results If No Shipping Methods Founded</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_original>
                        <!--<click_and_collect translate="label">-->
                            <!--<label>Click and Collect (In store pickup) shipping methods</label>-->
                            <!--<frontend_type>textarea</frontend_type>-->
                            <!--<sort_order>30</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>0</show_in_store>-->
                        <!--</click_and_collect>-->
                    </fields>
                </option>
            </groups>
        </shipping>
    </sections>
</config>
