<?xml version="1.0"?>
<config>
    <modules>
        <LarLance_Install>
            <version>0.1.7</version>
        </LarLance_Install>
    </modules>
    <global>
        <helpers>
            <larlance_install>
                <class>LarLance_Install_Helper</class>
            </larlance_install>
        </helpers>
        <models>
            <larlance_install>
                <class>LarLance_Install_Model</class>
            </larlance_install>
        </models>
        <resources>
            <install_setup>
                <setup>
                    <module>LarLance_Install</module>
                    <class>LarLance_Install_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </install_setup>
            <install_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </install_write>
            <install_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </install_read>
        </resources>
        <events>
            <catalog_category_save_before>
                <observers>
                    <larlance_install_relatedproducts>
                        <class>larlance_install/observer</class>
                        <method>saveRelatedProducts</method>
                    </larlance_install_relatedproducts>
                </observers>
            </catalog_category_save_before>
        </events>
    </global>
</config> 