<?xml version="1.0"?>
<config>
    <sections>
        <foomanconnect>
            <groups>
                <settings>
                    <fields>
                        <serial translate="label">
                            <label>Serial Number</label>
                            <comment></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </serial>
                    </fields>
                </settings>
            </groups>
        </foomanconnect>
    </sections>
</config>
