<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Randomproduct>
            <version>0.1.0</version>
        </Themevast_Randomproduct>
    </modules>
    <frontend>
        <routers>
            <randomproduct>
                <use>standard</use>
                <args>
                    <module>Themevast_Randomproduct</module>
                    <frontName>randomproduct</frontName>
                </args>
            </randomproduct>
        </routers>
        <layout>
            <updates>
                <randomproduct>
                    <file>themevast/randomproduct.xml</file>
                </randomproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<randomproduct>
				<use>admin</use>
				<args>
					<module>Themevast_Randomproduct</module>
					<frontName>randomproduct</frontName>
				</args>
			</randomproduct>
        </routers>
    </admin>
    <global>
        <models>
            <randomproduct>
                <class>Themevast_Randomproduct_Model</class>
                <resourceModel>randomproduct_mysql4</resourceModel>
            </randomproduct>
            <randomproduct_mysql4>
                <class>Themevast_Randomproduct_Model_Mysql4</class>
            </randomproduct_mysql4>
        </models>
        <resources>
            <randomproduct_setup>
                <setup>
                    <module>Themevast_Randomproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </randomproduct_setup>
            <randomproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </randomproduct_write>
            <randomproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </randomproduct_read>
        </resources>
        <blocks>
            <randomproduct>
                <class>Themevast_Randomproduct_Block</class>
            </randomproduct>
        </blocks>
        <helpers>
            <randomproduct>
                <class>Themevast_Randomproduct_Helper</class>
            </randomproduct>
        </helpers>
    </global>
	<default>
		<randomproduct>
			<general>
			    <enabled>1</enabled>
			    <title></title>
                <description>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</description>
                <slide>1</slide>
                 <autoPlay>0</autoPlay>
                <navigation>1</navigation>
                <pagination>0</pagination>
                <slideSpeed>600</slideSpeed>
                <stopOnHover>1</stopOnHover>
                <rows>1</rows>
                <loop>1</loop>   
                <responsive>0:{items:1},600:{items:3},1000:{items:4}</responsive>
                <margin>30</margin> 
			    <price>1</price>
			    <cart>0</cart>
			    <wishlist>0</wishlist>
			    <compare>0</compare>
			    <review>0</review>
			    <qty>15</qty>
			    <widthImage>135</widthImage>
			    <heightImage>135</heightImage>
			</general>
		</randomproduct>
	</default>
</config>

