<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Mostviewed>
            <version>0.1.0</version>
        </Themevast_Mostviewed>
    </modules>
    <frontend>
        <routers>
            <mostviewed>
                <use>standard</use>
                <args>
                    <module>Themevast_Mostviewed</module>
                    <frontName>mostviewed</frontName>
                </args>
            </mostviewed>
        </routers>
        <layout>
            <updates>
                <mostviewed>
                    <file>themevast/mostviewed.xml</file>
                </mostviewed>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mostviewed>
				<use>admin</use>
				<args>
					<module>Themevast_Mostviewed</module>
					<frontName>mostviewed</frontName>
				</args>
			</mostviewed>
        </routers>
    </admin>
    <global>
        <models>
            <mostviewed>
                <class>Themevast_Mostviewed_Model</class>
                <resourceModel>mostviewed_mysql4</resourceModel>
            </mostviewed>
            <mostviewed_mysql4>
                <class>Themevast_Mostviewed_Model_Mysql4</class>
            </mostviewed_mysql4>
        </models>
        <resources>
            <mostviewed_setup>
                <setup>
                    <module>Themevast_Mostviewed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mostviewed_setup>
            <mostviewed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mostviewed_write>
            <mostviewed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mostviewed_read>
        </resources>
        <blocks>
            <mostviewed>
                <class>Themevast_Mostviewed_Block</class>
            </mostviewed>
        </blocks>
        <helpers>
            <mostviewed>
                <class>Themevast_Mostviewed_Helper</class>
            </mostviewed>
        </helpers>
    </global>
	<default>
		<mostviewed>
			<general>
			    <enabled>1</enabled>
			    <title></title>
                <description>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</description>
                <slide>1</slide>
                 <autoPlay>0</autoPlay>
                <navigation>1</navigation>
                <pagination>0</pagination>
                <slideSpeed>600</slideSpeed>
                <stopOnHover>1</stopOnHover>
                <items>4</items>
                <rows>1</rows>
                <loop>1</loop>   
                <responsive>0:{items:1},600:{items:3},1000:{items:4}</responsive>
                <margin>30</margin> 
			    <slideWidth>280</slideWidth>
			    <price>1</price>
			    <cart>0</cart>
			    <wishlist>0</wishlist>
			    <compare>0</compare>
			    <review>0</review>
			    <qty>15</qty>
			    <widthImage>135</widthImage>
			    <heightImage>135</heightImage>
			</general>
		</mostviewed>
	</default>
</config>

